@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --palladian: #EEE9DF;
  --oatmeal: #C9C1B1;
  --blue-fantastic: #2C3B4D;
  --burning-flame: #FFB162;
  --truffle-trouble: #A35139;
  --abyssal-blue: #1B2632;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand colors */
  --color-palladian: var(--palladian);
  --color-oatmeal: var(--oatmeal);
  --color-blue-fantastic: var(--blue-fantastic);
  --color-burning-flame: var(--burning-flame);
  --color-truffle-trouble: var(--truffle-trouble);
  --color-abyssal-blue: var(--abyssal-blue);
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  font-family: var(--font-cairo);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-align: right;
}

.rtl-support {
  text-align: right;
  direction: rtl;
}

.arabic-text {
  font-family: var(--font-family-sans);
  line-height: 1.8;
  letter-spacing: 0;
}

.space-x-reverse> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}